@import "../Setting/_mixin"
.achievements
  &__list
    .tab
    .v-card-filed
      .achievement
        padding: 10px
        font-size: 12px
        .project-title
          text-align: left
          span
            color: blue
            font-size: 10px
        li
          list-style: none
          text-align: left
          span
            font-weight: bold
