@mixin radius($topleft,$topright,$bottomleft,$bottomright)
  border-radius: $topleft $topright $bottomleft $bottomright

@mixin radiusCircle($percent)
  border-radius: $percent

$media-sp: 767px
@mixin sp
  @media only screen and (max-width: $media-sp)
    @content
